/*
=============== 
Global Styles
===============
*/

:root {
    --clr-primary: #1fdf64;
    --clr-bcg: black;
    --clr-main: #121212;
    --clr-title: white;
    --clr-bcg-img-div: #181818;
    --clr-img-caption: #898989;
    --clr-tribute-info: #8d8d8d;
}

.dark-theme {
    --clr-bcg: white;
    --clr-main: #ededed;
    --clr-title: black;
    --clr-bcg-img-div: #e7e7e7;
    --clr-img-caption: #767676;
    --clr-tribute-info: #727272;
}

html {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: var(--clr-bcg);
    line-height: 1.6;
}


/*
=============== 
Main
===============
*/

#main {
    display: block;
}

#main {
    background-color: var(--clr-main);
    border-radius: 1.5rem;
    margin: 30px 8px;
    padding: 15px;
    width: inherit;
}

#title {
    font-size: 7rem;
    margin-bottom: 0;
}

#main>p {
    font-size: 1.6rem;
}

/*
=============== 
Button
===============
*/

.btn {
    background: var(--clr-primary);
    border-color: transparent;
    border-radius: 1.5rem;
    color: var(--clr-bcg);
    cursor: pointer;
    height: 45px;
    padding: 0.5rem;
    position: absolute;
    right: 32px;
    text-transform: capitalize;
    top: 46px;
    width: 45px;
}

/*
=============== 
Image section
===============
*/

#img-div {
    align-items: center;
    background-color: var(--clr-bcg-img-div);
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 1rem;
    width: inherit;
}

#image {
    border-radius: 1.5rem;
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}

#img-caption {
    color: var(--clr-img-caption);
    font-size: 1.7rem;
    margin: 15px 0 5px 0;
}

/*
=============== 
Tribute info
===============
*/

#tribute-info {
    display: block;
}

#tribute-info>h3 {
    color: var(--clr-tribute-info);
    font-size: 2.1rem;
    margin: 50px 0;
}

#title,
#main>p,
#img-caption,
#tribute-info>h3 {
    text-align: center;
}

#tribute-info>p {
    margin: 1rem auto;
    max-width: 850px;
}

#title,
a {
    color: var(--clr-title);
}

a {
    font-weight: 800;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/*
=============== 
Blockqueote section
===============
*/

blockquote {
    font-size: 1.6rem;
    font-style: italic;
    margin: 7rem auto 7rem auto;
    max-width: 800px;
}

#tribute-info>p,
blockquote {
    text-align: left;
}

p,
cite {
    color: var(--clr-tribute-info);
    font-size: 1.7rem;
}